.content-block-navigation {
    background-color: azure;
}

.wraper {
    padding-right: 24px;
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-left: 24px;
    position: relative;
    max-width: 1330px;
}

.navigation-block {
    width: 100%;
}

.navigation-list {
    display: inline-flex;

}

.navigation-list > li {
    list-style-type: none;
}

.navigation-list > li a {
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

.navigation-list > li a:hover {
    color: red;
}

.navigation-list > li::after {
    content: "→";
    padding-left: 5px;
    padding-right: 5px;
}

.navigation-path {
    display: flex;
    justify-content: center;
    width: 100%;
}

.navigation-list > li:last-child::after {
    display: none;
}

.navigation-list > li:last-child a span{
    color: #626262;
}

.navigation-list > li:last-child a {
    pointer-events: none;
    cursor: default;
}

.navigation-name {
    font-family: 'Poiret One', cursive;
    display: flex;
    justify-content: center;
    font-weight: 900;
    font-size: calc(1vw + 10px);
}

.basket-item-img {
    width: 65px;
    height: 65px;
}

.item-description {
    margin-bottom: 5px;
}

.basket-item-a {
    margin-right: 10px;
}


.basket-td-block {
    display: flex;
    flex-direction: row;
}

.basket-table-cell-availability {
    flex-flow: wrap;
    display: flex;
}

.availability-address {
    cursor: pointer;
    margin-right: 5px;
}

input[type="number"] {
    display: block;
	height: 35px;
	line-height: 32px;
	width: 80%;
	padding: 0;
	margin: 0;
    border: none;
	box-sizing: border-box;
	text-align: center;
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	appearance: textfield;
    background-color: #ffb300;
    color: white;
    font-weight: 800;
    font-size: 1rem;
}

input[type="number"]:focus {
    outline: none;
}

.counter-product {
    display: flex;
    background-color: #ffb300;
    border-radius: 6px;
    width: 130px;
}

.number-minus {
    align-self: center;
    padding-left: 5px;
}

.number-plus {
    align-self: center;
    padding-right: 5px;
}

.counter-product-block {
    display: flex;
    justify-content: center;
}

.score {
    border: none;
    background-color: #ffb300;
    cursor: pointer;
}

svg .number-symbol {
    fill: white;
}

.score:disabled {
    fill: #ffffffb2;
    cursor: default;
}

.score:disabled .number-symbol {
    fill: #ffffffb2;
}

#minus {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

#plus {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.description-availability::before {
    content: "";
    height: 6px;
    width: 6px;
    background-color: green;
    display: inline-block;
    border-radius: 50%;
    margin-right: 5px;
}

.description-availability {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: 600;
    color: green;
}

.product-availability_not {
    color: #72787b;
}

.product-availability_not::before {
    background-color: #72787b;
}

.product-availability-order {
    color: #ffa260;
}

.product-availability-order::before {
    background-color: #ffa260;
}

.item-description a span {
    color: black;
}

.description-article a span {
    color: #0099f5;
}

.product-block {
    font-family: "Roboto slab", serif;
    font-weight: 500;
}

.basket-table-header {
    margin-right: 10px;
}