.filteritems {
    display: flex;
    margin-top: 20px;
}

.wrapper {
    padding-right: 24px;
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-left: 24px;
    position: relative;
    max-width: 1330px;
}

